.botao-centralizado {
    display: block;

    margin-right: auto;
    position: relative;
    top: calc(50% - 15px);
    width: 200px;
    color: blue;
    max-width: 80%;
}

.text-centralizado {

    position: relative;
    top: calc(50% - 20%);
    text-align: center;
    color: #fff;

}

.textEntrar-centralizado {

    position: relative;
    top: calc(50%);
    color: #fff;
    text-align: center;
}

.textEntrar-centralizado a {
    color: #fff;
    text-decoration: none;
}

.a-style {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

input {
    border: 4px solid #000;
}

.esqueceuDaSenha a {

    text-decoration: none;
}

.container-fluid{
    background-color: #005088; 
    height: 12vh; 
    position: fixed; 
    top: 0;
}

img{
    max-width: 120px; 
    height: 30px;
}

strong{
    margin-left: 10px;
}

.container{
    height: 100vh;
    display: flex; 
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
}

.form-control{
    display:block; 
    margin-left:auto; 
    margin-right: auto; 
    max-width: 650px; 
    border: 0px solid #000;
    border-bottom: 1px solid #000; 
    border-radius: 0;
}

p{
    margin-top: 15px;
    text-align: center;
}


#entrar{
    display:block; 
    margin-left:auto; 
    margin-right: auto; 
    width: 100%;
    max-width: 650px; 
    margin-top: 15px;
    background-color: #005088; 
}

#linhas{
    display:flex;  
    justify-content: center; 
    align-items: center; 
    margin-left:auto; 
    margin-right: auto; 
    width: 100%;
    max-width: 650px; 
    height: 20px;
    margin-top: 15px;
}

.linhas{
    height: 1px; 
    width: 45%; 
    background-color: #000;
}

#ou{
    height: 100%; 
    width: 10%;  
    text-align: center; 
    display:flex;  
    justify-content: center; 
    align-items: center;
}

.ou{
    height: 1px; 
    width: 45%; 
    background-color: #000;
}

#form-group{
    margin-top: 10px;
}

#facebook{
    background-color: #005088; 
    display:block; 
    margin-left:auto; 
    margin-right: auto; 
    width: 100%;
    max-width: 650px; 
    margin-top: 15px;
}

a{
    text-decoration: none;
}