.container-fluid{
    background: #005088;
    width: 100%;
    height: 100%;
}


.texto, .entrar{
    display: block;
    text-align: center;
    color: white;
}

.texto{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.entrar{
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 18px;
    text-decoration: none;
}

.entrar:hover{
    color: white;
}

#botao-centralizado{
    display: block;
    width: 200px;
    position: absolute;
    top: calc(73% - 19px);
    left: calc(50% - 100px);
    max-width: 80%; 
    margin-left: auto;
    margin-right:auto;
    border:white;
    padding: 5px 10px 5px 10px;
    background-color: white;   

}

#botao-centralizado:hover{
    background-color: #8684a4;
}
